{% extends 'base.html' %}

{% block content %}

    {% if form.errors %}

        <div class="alert alert-danger" role="alert">
            Error!! intenta nuevamente.
        </div>
    {% endif %}

    <h1>Registro de Estudiantes </h1>

    <form action="{% url 'guardarEstudiante' %}" method="post">
        {% csrf_token %}
        {% if mensaje %}
            <div class="alert alert-succes" role="alert">
                Estudiante agregado Satisfactirio!
            </div>
        {{ form }}

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}